# Grafana Data Source Provisioning
# Automatically configure PostgreSQL data source on startup

apiVersion: 1

datasources:
  - name: PostgreSQL
    type: postgres
    access: proxy
    url: localhost:5432
    database: winter_river
    user: grafana_reader
    jsonData:
      sslmode: disable
      maxOpenConns: 10
      maxIdleConns: 2
      connMaxLifetime: 14400
      postgresVersion: 1500
      timescaledb: false
    secureJsonData:
      password: changeme
    isDefault: true
    editable: true
